/* Colors */



/* STYLE */

.header_one {
    height: 60px;
    background-color: white;
    padding: 10px;
}

main {
    margin-top: 60px;
}

/* Sidebar */

.side_bar {
    width: 130px;
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

.sidebar_link {
    color: white;
}

.sidebar_link:hover {
    opacity: 75%;
}

.sidebar_link span {
    padding-left: 5px;
}

.logo-mb {
    display: none;
}

/* Main scroll */

.main_scroll {
    margin-left: 120px;
}

.header_main {
    background-color: #1B72E8;
    color: white;
}

.header_main a {
    color: white;
}

.header_main a:hover {
    opacity: 80%;
}

.font_text_smaller {
    font-size: small;
}

.a_background {
    margin-right: 5px;
    padding: 1px 10px;
    background-color: rgba(0, 0, 0, 0.361);
    border-radius: 20px;
}

.plus {
    display: none;
}

/* Cards */
.smaller_name {
    font-size: smaller;
}

.class_img {
    width: 25px;
    border-radius: 50px;
}

.done_tag {
    font-size: x-small;
    text-transform: uppercase;
    padding: 2px;
    width: 50px;
    text-align: center;
    color: white;
    background-color: green;
    border-radius: 20px;
}

.process_tag {
    font-size: x-small;
    text-transform: uppercase;
    padding: 2px;
    width: 50px;
    text-align: center;
    color: white;
    background-color: #FFC109;
    border-radius: 20px;
}

.failed_tag {
    font-size: x-small;
    text-transform: uppercase;
    padding: 2px;
    width: 50px;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 20px; 
}

.icons_edit {
    width: 25px;
    height: 25px;
    color: rgb(99, 99, 99);
    border-color:rgb(99, 99, 99);
    padding: 0!important;
}



@media screen and (max-width:768px)  {
    
    .disappeared-icons, .disappeared-text {
        display: none;
    }

    .side_bar {
        width: 60px;
    }

    .main_scroll {
        margin-left: 60px;
    }

    .plus {
        display: inline-block;
    }

    .logo-pc {
        display: none;
    }

    .logo-mb {
        display: inline-block;
    }

    .logo-mb img{
        width: 40px;
    }
}

@media screen and (max-width: 576px) {
    .disappeared-icons, .disappeared-text {
        display: none;
    }

    .side_bar {
        width: 60px;
    }

    .main_scroll {
        margin-left: 60px;
    }

    .disappeared-table-row {
        display: none;
    }

    .plus {
        display: block;
    }

    .logo-pc {
        display: none;
    }

    .logo-mb {
        display: block;
    }

    .logo-mb img{
        width: 40px;
    }
}